<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İklim Değişikliği</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!-- Header Başlık -->
    <header>
        <h1 class="main-title">İklim Değişikliği</h1>
        <p class="subtitle">Dünyamızı etkileyen en büyük sorunlardan biri!</p>
    </header>

    <!-- İçerik Bölümü -->
    <div class="content">
        
    <!-- Başlıklar -->
    <ul>
        <li><a href="/iklim-degisikligi1" class="list-item" data-title="İklim Değişikliği Nedir?">1- İklim Değişikliği Nedir?</a></li>
        <li><a href="/iklim-degisikligi2" class="list-item" data-title="İklim Değişikliği Nasıl Oluşur?">2- İklim Değişikliği Nasıl Oluşur?</a></li>
        <li><a href="/iklim-degisikligi3" class="list-item" data-title="İklim Değişikliği Neye Yol Açar?">3- İklim Değişikliği Neye Yol Açar?</a></li>
        <li><a href="/iklim-degisikligi4" class="list-item" data-title="İklim Değişikliği Nasıl Önlenebilir?">4- İklim Değişikliği Nasıl Önlenebilir?</a></li>
        <li><a href="/iklim-degisikligi5" class="list-item" data-title="İklim Değişikliği İçin Bireysel Katkılar">5- İklim Değişikliği İçin Bireysel Katkılar</a></li>
        <li><a href="/iklim-degisikligi6" class="list-item" data-title="İklim Değişikliğiyle Mücadelede Başarı Hikayeleri">6- İklim Değişikliğiyle Mücadelede Başarı Hikayeleri</a></li>
        <li><a href="/iklim-degisikligi7" class="list-item" data-title="İklim Değişikliği Hakkında Eğitim ve Farkındalık">7- İklim Değişikliği Hakkında Eğitim ve Farkındalık</a></li>
        <li><a href="/iklim-degisikligi8" class="list-item" data-title="İklim Değişikliğiyle İlgili Ürünler">8- İklim Değişikliğiyle İlgili Ürünler</a></li>
    </ul>
    


    </div>
    
    <footer>
        <!-- Footer İçeriği Burada Olacak -->
        
    </footer>
</body>
</html>
